mixin alert(time)
    - if (messages.success)
     .message.info
       div(
        class="alert alert-success" 
        data-time=time
        show-alert
       ) #{messages.success} <button close-alert type="button"class="btn-close btn-close-red" ></button>

mixin error(time)
    - if (messages.error)
     .message.info
       div(
        class="alert alert-danger" 
        data-time=time
        show-alert
       ) #{messages.error} <button close-alert type="button"class="btn-close btn-close-red" ></button>
